.navbarStyle {
    background-color: #333;
  
}

.navbarTitle {
    color: white;
    font-size: 24px;
}

#navbarTitleId {
    color: #ccc;
    margin-right: 20px;
    font-size: 20px;
}

.navbarStyle a {
    color: white;
    text-decoration: none;
    
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbarStyle a:hover {
    background-color: #555;
}
